<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Sport</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/flowbite.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/sweetalert2.min.css')}}">
    <script src="{{url_for('static',filename='src/js/sweetalert2.all.min.js')}}"></script>
</head>
<body>
    
    {% include 'menu.html' %}
    
    <div class="p-4 sm:ml-64">
        <div class="p-4 rounded-lg">

            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
                    <h2 class="max-w-lg text-3x1 font-semibold leading-normal text-gray-900 ">CLIENTES REGISTRADOS</h2>
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="bg-gray-200 border-b hover:bg-gray-200 ">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    ID
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    NOMBRE
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    TELEFONO
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes %}
                                {% if cliente.identificacion > 2  %}
                                    <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ cliente.identificacion }}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{ cliente.nombre }}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{ cliente.celular }}
                                        </td>
                                        <td>
                                            <button type="button" onclick="eliminarCliente({{ cliente.identificacion }})" class="focus:outline-none bg-red-100 hover:bg-red-300 focus:ring-2 focus:ring-red-300 font-medium rounded-lg text-sm p-2">
                                                <svg class="w-5 h-5 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% if size == 2 %}
                            <tr>
                                <td></td>
                                <td>No hay clientes registrados</td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    <script src="{{url_for('static',filename='src/js/axios.min.js')}}"></script>
    <script src="{{url_for('static',filename='src/js/flowbite.min.js')}}"></script>
    <script src="{{url_for('static',filename='src/js/clientesFunction.js')}}"></script>
</body>
</html>