<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura de Venta</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/flowbite.min.css')}}">
</head>
<body>
    <a onclick="print()" class="text-sm font-medium text-blue-600 hover:underline">
        imprimir
    </a>
    <div class="w-full max-w-md p-4 mx-auto mt-14 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-center mb-4">
            <h3 class="mb-4 sw-text text-3xl font-extrabold tracking-tight leading-none md:text-3xl lg:text-3xl">TiendaSport</h3>
        </div>
        <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0 ms-4">
                                {% if cliente.identificacion > 2 %}
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Cliente:
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    {{ cliente.nombre }}
                                </p>
                                {%else%}
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Venta en caja
                                </p>
                                {%endif%}
                            </div>
                        </div>
                    </li>
                    <li class="py-3 sm:py-4">
                        {%for productoVendido, producto in productosVendidos%}
                        <div class="flex items-center mb-4">
                            <div class="flex-1 min-w-0 ms-4">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    {{producto.tipo}} {{producto.referencia}}
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Unidades: {{productoVendido.cantidad}}
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Valor unidad: {{(productoVendido.precio/productoVendido.cantidad) | moneda}}
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{ productoVendido.precio | moneda }}
                            </div>
                        </div>
                        {%endfor%}
                    </li>
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-2.jpg" alt="Michael image">
                            </div>
                            <div class="flex-1 min-w-0 ms-4">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Michael Gough
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    email@windster.com
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                $67
                            </div>
                        </div>
                    </li>
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center ">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-4.jpg" alt="Lana image">
                            </div>
                            <div class="flex-1 min-w-0 ms-4">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Lana Byrd
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    email@windster.com
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                $367
                            </div>
                        </div>
                    </li>
                    <li class="pt-3 pb-0 sm:pt-4">
                        <div class="flex items-center ">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Thomas image">
                            </div>
                            <div class="flex-1 min-w-0 ms-4">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Thomes Lean
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    email@windster.com
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                $2367
                            </div>
                        </div>
                    </li>
                </ul>
        </div>
    </div>
    <script src="{{url_for('static',filename='src/js/flowbite.min.js')}}"></script>
</body>    
</html>