<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Sport - Produtos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/estilos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/flowbite.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/sweetalert2.min.css')}}">
    <script src="{{url_for('static',filename='src/js/sweetalert2.all.min.js')}}"></script>

</head>
<body> 
    {% include 'menu.html' %}
    <script>
        function confirmarCerrarSesion() {
            // Mostrar el mensaje de confirmación personalizado con SweetAlert
            Swal.fire({
                title: '¿Estás seguro de que quieres cerrar sesión?',
                text: "Serás redirigido a la página de inicio de sesión.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, cerrar sesión'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, redirigir a la página de inicio de sesión
                    window.location.href = "login";
                }
            });
        }
    </script>
    

    <div class="p-4 sm:ml-64">
        <div class="p-4 rounded-lg">
            <div class="flex items-center justify-center h-full mb-2 rounded">
                {% if producto %}
                    <form action="/modificar_productos/{{ producto.idProducto }}" method="POST" class="flex flex-col items-center justify-center rounded">
                    <h2 class="max-w-lg text-3xl font-semibold leading-normal text-gray-900">INVENTARIO DE PRODUCTOS</h2>
                    <div class="relative overflow-x-auto shadow-md mt-4 sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 text-center uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        TIPO
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        REFERENCIA
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        CANTIDAD
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        COSTO
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        PRECIO
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b ">
                                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                        <label for="tipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de producto:</label>
                                        <input id="tipo" type="text" value="{{ producto.tipo }}" name="tipo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                    </td>
                                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                        <label for="referencia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Referencia del producto:</label>
                                        <input name="referencia" type="text" value="{{ producto.referencia }}" id="referencia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center">
                                            <button data-input-counter-decrement="cantidad"  class="inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                                <span class="sr-only"></span>
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                                </svg>
                                            </button>
                                            <input name="cantidad" type="text" id="cantidad" value="{{ producto.cantidad }}" data-input-counter data-input-counter-min="1" aria-describedby="helper-text-explanation" class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 " placeholder="1" value="1" required />
                                            <button data-input-counter-increment="cantidad"  class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center">
                                            <div>
                                                <input type="text" name="costo" id="costoMod" oninput="formatoMoneda(event)" onblur="formatoMoneda(event)" value="{{ producto.costo | moneda }}" class="bg-gray-50 w-24 border text-right border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0" required />
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center">
                                            <div>
                                                <input type="text" name="precio" id="precioMod" oninput="formatoMoneda(event)" onblur="formatoMoneda(event)" value="{{ producto.precio | moneda }}" class="bg-gray-50 w-24 text-right border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0" required />
                                                
                                            </div>
                                        </div>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="flex items-center justify-center gap-12 mt-3 p-4 rounded">
                        <button type="submit" value="{{ producto.idProducto }}" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            MODIFICAR PRODUCTO
                            </span>
                        </button>
                    </div>
                    </form>
                {% else %}
                    <form action="/registrar_productos" method="POST" class="flex flex-col items-center justify-center rounded">
                        <h2 class="max-w-lg text-3xl font-semibold leading-normal text-gray-900">INVENTARIO DE PRODUCTOS</h2>
                        <div class="relative overflow-x-auto shadow-md mt-2 sm:rounded-lg">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 text-center uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            TIPO
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            REFERENCIA
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            CANTIDAD
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            COSTO
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            PRECIO
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b ">
                                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                            <label for="tipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccionar tipo:</label>
                                            <input required id="tipo" type="ext" name="tipo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </td>
                                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                            <label for="referencia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccionar referencia:</label>
                                            <input required name="referencia" type="text" id="referencia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </td>
                                        <td class="px-6 py-4">
                                            <div class="flex items-center">
                                                <button data-input-counter-decrement="cantidad-input"  class="inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                                    <span class="sr-only"></span>
                                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                                    </svg>
                                                </button>
                                                <input name="cantidad" type="text" id="cantidad-input" data-input-counter data-input-counter-min="1" aria-describedby="helper-text-explanation" class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 " placeholder="1" value="1" required />
                                                
                                                <button data-input-counter-increment="cantidad-input"  class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="px-6 py-4">
                                            <div class="flex items-center">
                                                <div>
                                                    <input type="text" name="costo" id="costo" min="0" oninput="formatoMoneda(event)" onblur="formatoMoneda(event)" class="bg-gray-50 w-24 border text-right border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0" required />
                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-6 py-4">
                                            <div class="flex items-center">
                                                <div>
                                                    <input type="text" name="precio" id="precio" min="0" oninput="formatoMoneda(event)" onblur="formatoMoneda(event)" class="bg-gray-50 w-24 text-right border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0" required />
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="flex items-center justify-center gap-12 mt-3 p-4 rounded">
                            <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                REGISTRAR PRODUCTO
                                </span>
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>

        <div class="flex items-center justify-center h-full mb-4 rounded bg-white dark:bg-gray-800 ">
            <div class="flex flex-col items-center w-full justify-center mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 ">
                <div class="flex flex-wrap w-full p-4 gap-6 items-end ms-8">
                    <div class="bg-white dark:bg-gray-900">
                        <div class="relative mt-1 flex items-center gap-4 justify-center">
                            <div class="flex flex-col text-gray-900 dark:text-white">
                                <label for="tipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Buscar:</label>
                                <input id="searchInput" oninput="buscar('productTable','searchInput')" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative overflow-x-auto w-full p-4 sm:rounded-lg">
                    
                    <div class="shadow-md rounded-md h-80">
                        <table  id="productTable" class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        TIPO
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        REFERENCIA
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        CANTIDAD
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        COSTO
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        PRECIO
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr class="bg-white border-b">
                                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                        {{ producto.tipo }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ producto.referencia }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ producto.cantidad }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ producto.costo | moneda }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ producto.precio | moneda }}
                                    </td>
                                    <td class="px-6 py-4">
                                        <div>
                                            
                                            <button onclick="window.location.href = '/editar_productos/{{producto.idProducto}}'" type="button" class="focus:outline-none text-indigo bg-indigo-50 hover:bg-indigo-200 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm p-2   dark:bg-white dark:hover:bg-white dark:focus:ring-white">
                                                <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
                                                    <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
                                                </svg>
                                            </button>
                                            
                                            <button onclick="confirmarEliminacion('{{ producto.idProducto }}');" type="button" class="focus:outline-none text-red bg-red-50 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm p-2   dark:bg-white dark:hover:bg-white dark:focus:ring-white">
                                                <svg class="w-5 h-5 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <script>
                                    function confirmarEliminacion(idProducto) {
                                        // Mostrar el mensaje de confirmación personalizado con SweetAlert
                                        Swal.fire({
                                            title: '¿Estás seguro?',
                                            text: "No podrás revertir esto.",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonColor: '#d33',
                                            cancelButtonColor: '#3085d6',
                                            confirmButtonText: 'Sí, eliminarlo!'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                // Si el usuario confirma, redirigir a la URL para eliminar el producto
                                                window.location.href = "/eliminar_productos/" + idProducto;
                                            }
                                        });
                                    }

                                </script>
                            </tbody>
                        </table>
                        {% if msg == "imposible" %}
                        <script>
                                Swal.fire({
                                    title: 'NO PUDO SER POSIBLE',
                                    text: "El producto no se puede eliminar porque tiene ventas registradas.",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#d33',
                                    confirmButtonText: 'ENTENDIDO'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // Si el usuario confirma, redirigir a la URL para eliminar el producto
                                        window.location.href = "/productos";
                                    }
                                });
                                setTimeout(() => {
                                window.location.href = "/productos"
                                }, 5000);
                        </script>
                        {% elif msg == "eliminado" %}
                        <script>
                            Swal.fire({
                                    title: 'ELIMINADO',
                                    text: "El producto pudo ser eliminado.",
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'LISTO'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // Si el usuario confirma, redirigir a la URL para eliminar el producto
                                        window.location.href = "/productos";
                                    }
                                });
                                setTimeout(() => {
                                window.location.href = "/productos"
                                }, 5000);
                        </script>
                        {% endif %}
                 </div>
                </div>
            </div>
        </div>
            
        {% include 'footer.html' %}
    </div>
    <script src="{{url_for('static',filename='src/js/flowbite.min.js')}}"></script>
    <script src="{{url_for('static',filename='src/js/formatoMoneda.js')}}"></script>
    <script src="{{url_for('static',filename='src/js/tables.js')}}"></script>
</body>
</html>